<div class="row shadow">

  <div class="large-12 columns" role="content">
    <article>
      <h3><%= @showcase_user.name %> </h3>
      <div class="row">
        <div class="medium-4 columns detail_image" >
          <%= image_tag @showcase_user.profile_image, width:"300px"%>
        </div>
        <div class="medium-7 medium-offset-1 columns">
            <p><%= @showcase_user.bio %></p>
            <%= render 'layouts/details' %>
            <% if @showcase_user.seeking_work? %>
                <p>I am seeking work </p>
            <% end %>
            <% if current_user == @showcase_user %>
              <%= link_to 'Edit', edit_path, :class => "button" %>
            <% end %>
        </div>
      </div>
      
      <article>
      	<div id="cv-service-container"></div>
      </article>
    </article>
  </div>
</div>
