<div class="row shadow">

  <div class="large-12 columns" role="content">
    <article>
      <h3>Profile <%= @showcase_user.name %> </h3>
      <div class="row">
        <div class="large-6 columns detail_image" >
          <%= image_tag @showcase_user.profile_image, width:"300px"%>
        </div>
        <div class="large-6 columns">
            <p><%= @showcase_user.bio %></p>
            <ul class="no-bullet">
              <li><%= content_tag(:i, nil, class: 'fi-torsos-all') + @showcase_user.cohort %></li>
              <li><%= content_tag(:i, nil, class: 'fi-mail') + @showcase_user.email %></li>
              <li><%= content_tag(:i, nil, class: 'fi-social-github') + @showcase_user.github_username %></li>
              <li><%= content_tag(:i, nil, class: 'fi-social-twitter') + @showcase_user.twitter %></li>
              <li><%= content_tag(:i, nil, class: 'fi-linkedin') + @showcase_user.linkedin %></li>
            </ul>
            <% if @showcase_user.seeking_work? %>
                <p>I am seeking work </p>
            <% end %>
        </div>
      </div>
      <hr />
      <article>
      	<div id="cv-service-container"></div>
      </article>
      <hr />
    </article>

    <% if current_user == @showcase_user %>
      <%= link_to 'Edit', edit_path %>
    <% end %>
  </div>
</div>
