<div class="row shadow">

  <div class="large-12 columns" role="content">
    <article>
      <h3>Profile <%= @showcase_user.name %> </h3>
      <div class="row">
        <div class="large-6 columns detail_image" >
          <%= image_tag @showcase_user.profile_image, width:"300px"%>
        </div>
        <div class="large-6 columns">
          <h4>BIO</h4>
            <p><%= @showcase_user.bio %></p>
            <ul>
              <li><%= @showcase_user.email %></li>
              <li><%= @showcase_user.github_username %></li>
              <li>Cohort: <%= @showcase_user.cohort %></li>
              <li><%= @showcase_user.twitter %></li>
              <li><%= @showcase_user.linkedin %></li>
            </ul>
            <% if @showcase_user.seeking_work? %>
                <p>I am seeking work </p>
            <% end %>
        </div>
      </div>
      <hr />

     <%= content_tag(:iframe, nil, src:"http://gitcv.herokuapp.com/#{@showcase_user.github_username}.html") %>

    </article>

    <% if current_user == @showcase_user %>
      <%= link_to 'Edit', edit_path %>
    <% end %>
  </div>
</div>



