<div class="row shadow">
  <h1>All Makers, graduates and current students</h1>
  <hr/>
  <% @users.each do |user| %>
    <div class="large-12 columns" >
    	<div class="large-3 columns" >
        <%= image_tag(user.profile_image) %>
      </div>
      <div class="large-9 columns" >
    		<h1><%= link_to user.name, show_details_path(user.github_username) %><small> <%= user.cohort %></small></%></h1>
        <p><%= user.bio %></p>
        <ul>
          <li>
            <i class="fi-mail"></i>
            <%= user.email %>
          </li>
          <li>
            <i class="fi-social-twitter"></i>
            <%= user.twitter %>
          </li>
      		<li>
            <i class="fi-social-linkedin"></i>
            <%= user.linkedin %>
          </li>
        </ul>
    	</div>
    </div>
    <hr/>
  <% end %>
</div>
