<div class="row shadow">
  <div class="medium-12 columns" role="content">
    <div class="row">
      <div class="medium-4 columns detail_image" >
        <%= image_tag @showcase_user.profile_image, width:"300px"%>
      </div>
      <div class="medium-7 medium-offset-1 columns">
        <h1><%= @showcase_user.name %>
          <small>
            <%= content_tag(:i, nil, class: 'fi-torsos-all') + @showcase_user.cohort if @showcase_user.cohort %>
          <%= content_tag(:span, 'Seeking Work', id: 'available_work', class: 'right') if @showcase_user.seeking_work? %>
          </small>
        </h1>
        <p><%= @showcase_user.bio %></p>
        <%= render 'layouts/details' %>
        <%= link_to 'Back To Users', users_path, :class => "button" %>
        <% if current_user == @showcase_user %>
          <%= link_to 'Edit', edit_path, :class => "button" %>
        <% end %>
        <% if @user &&  @user.admin? && !@showcase_user.verified_maker? %>
          <%= link_to "Confirm maker", confirm_path(@showcase_user.github_username), :class => "button" %>
        <% end %>
      </div>
    </div>
    <article id="cv-service-container"></article>
    <article id="stackoverflow-details-container"></article>
  </div>
</div>
