<ul class="no-bullet medium-offset-2 medium-10">
  <li><%= content_tag(:i, nil, class: 'fi-mail') + @showcase_user.email unless @showcase_user.email.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-social-github') + @showcase_user.github_username unless @showcase_user.github_username.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-social-twitter') + @showcase_user.twitter unless @showcase_user.twitter.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-social-linkedin') + @showcase_user.linkedin unless @showcase_user.linkedin.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-social-stack-overflow') + @showcase_user.stackoverflow unless @showcase_user.stackoverflow.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-web') + @showcase_user.website unless @showcase_user.website.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-quote') + @showcase_user.blog unless @showcase_user.blog.blank? %></li>
</ul>