<ul class="no-bullet medium-offset-2 medium-10">
  <li><%= content_tag(:i, nil, class: 'fi-mail') + mail_to(@showcase_user.email, @showcase_user.email) unless @showcase_user.email.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-social-github') + link_to(@showcase_user.github_username, "http://www.github.com/#{@showcase_user.github_username}") unless @showcase_user.github_username.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-social-twitter') + link_to(@showcase_user.twitter, "http://www.twitter.com/#{@showcase_user.twitter}") unless @showcase_user.twitter.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-social-linkedin') + link_to(@showcase_user.linkedin, 'http://'+@showcase_user.linkedin) unless @showcase_user.linkedin.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-social-stack-overflow') + link_to(@showcase_user.stackoverflow, 'http://'+@showcase_user.stackoverflow) unless @showcase_user.stackoverflow.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-web') + link_to(@showcase_user.website, 'http://'+@showcase_user.website) unless @showcase_user.website.blank? %></li>
  <li><%= content_tag(:i, nil, class: 'fi-quote') + link_to(@showcase_user.blog, 'http://'+ @showcase_user.blog) unless @showcase_user.blog.blank? %></li>
</ul>