<footer class="row shadow">
  <div class="large-12 columns">
    <!-- <div class="large-6 columns">
      <p>&nbsp;</p>
    </div> -->
    <div class="large-12 columns">
      <p class="centre">
        Creative team:&nbsp;&nbsp;&nbsp;&nbsp;</li>

        <%= link_to "Rolando Barbella", show_details_path("Rolando-Barbella") %>&nbsp;&nbsp;&nbsp;
        <%= link_to "Mihai Cojocar", show_details_path("MihaiLiviuCojocar") %>&nbsp;&nbsp;&nbsp;
        <%= link_to "Colin Frankish", show_details_path("ColinFrankish") %>&nbsp;&nbsp;&nbsp;
        <%= link_to "Roy Gardiner", show_details_path("Roy-Gardiner") %>&nbsp;&nbsp;&nbsp;
        <%= link_to "Nabin Rai", show_details_path("nabin369") %>&nbsp;&nbsp;&nbsp;
        <%= link_to "Peter Saxton", show_details_path("CrowdHailer") %>&nbsp;&nbsp;&nbsp;
        
      </p>
    </div>
  </div>
</footer>
