<footer class="row shadow">
    <ul class="inline-list">
      <li>Creative team:</li>
      <li><%= link_to "Rolando Barbella", show_details_path("Rolando-Barbella") %></li>
      <li><%= link_to "Mihai Cojocar", show_details_path("MihaiLiviuCojocar") %></li>
      <li><%= link_to "Colin Frankish", show_details_path("ColinFrankish") %></li>
      <li><%= link_to "Roy Gardiner", show_details_path("Roy-Gardiner") %></li>
      <li><%= link_to "Nabin Rai", show_details_path("nabin369") %></li>
      <li><%= link_to "Peter Saxton", show_details_path("CrowdHailer") %></li>
    </ul>
</footer>
